*.o
*.sw?
*.orig
*.rej
*.tar*
*~
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.h*
config.log
config.status
configure
depcomp
install-sh
intltool-*.in
missing
mkinstalldirs
omf.make
stamp-h1
xmldocs.make
