*.gir
*.la
*.lo
*.o
*.orig
*.rej
*.sw?
*.tar*
*.typelib
*~
.deps
.libs
/src/cluttersmith
/src/cluttersmith.so
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-*.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
stamp-h1
xmldocs.make
