/* generic classes, the top bits of styling here should be inherited
 * from a system wide CSS
 */



*.parasite NbtkButton,
*.parasite NbtkButton:active,
*.parasite NbtkButton:hover,
*.parasite NbtkButton:checked {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
}

NbtkLabel, NbtkIMLabel
{
  font-family: "Times";
  font-size: 12px;
  color: black;
}

*.ParasiteToolbar NbtkButton,
*.ParasiteToolbar NbtkButton:active,
*.ParasiteToolbar NbtkButton:hover,
*.ParasiteToolbar NbtkButton:checked 
{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

NbtkBoxLayout.ParasiteTreeA1 {
  background-color: #000;
}

NbtkBoxLayout.ParasiteTreeB1 {
  background-color: #666;
}

NbtkBoxLayout.ParasiteTreeA2 {
  background-color: #222;
}

NbtkBoxLayout.ParasiteTreeB2 {
  background-color: #444;
}

*.parasite NbtkButton {
  border-image: url("file://button-bg.png") 8 8 8 8;
  color: white;
}


*.parasite NbtkEntry {
  border-image: url("file://entry-bg.png") 8 8 8 8;
  color: yellow;
  font-size: 9px;
}

*.parasite NbtkButton {
  border-image: url("file://button-bg.png") 8 8 8 8;
  color: white;
}

*.parasite NbtkButton:active {
  border-image: url("file://button-bg.png") 8 8 8 8;
  color: white;
}

*.parasite-paste  {
  background-color: #444444ee;
  padding: 1px;
}

*.parasite  {
  background-color: #444444ee;
  padding: 1px;
}

*.parasite NbtkButton:hover {
  border-image: url("file://button-bg-hover.png") 8 8 8 8;
  color: yellow;
}


*.parasite NbtkButton:checked {
  border-image: url("file://button-bg.png") 8 8 8 8;
  color: white;
}



*.parasite NbtkScrollBar
{
  background-color: #00000000;
  padding: 2px;
}


*.parasite NbtkButton#backward-stepper
{
  border-image: url("file://button-bg.png") 8 8 8 8;
}

*.parasite NbtkButton#backward-stepper:hover,
*.parasite NbtkButton#backward-stepper:active
{
  border-image: url("file://button-bg-hover.png") 8 8 8 8;
}

*.parasite NbtkButton#forward-stepper
{
  border-image: url("file://button-bg.png") 8 8 8 8;
}

*.parasite NbtkButton#forward-stepper:hover,
*.parasite NbtkButton#forward-stepper:active
{
  border-image: url("file://button-bg-hover.png") 8 8 8 8;
}

*.parasite NbtkButton#up-stepper
{
  border-image: url("file://button-bg.png") 8 8 8 8;
}

*.parasite NbtkButton#up-stepper:hover,
*.parasite NbtkButton#up-stepper:active
{
  border-image: url("file://button-bg-hover.png") 8 8 8 8;
}

*.parasite NbtkButton#down-stepper
{
  border-image: url("file://button-bg.png") 8 8 8 8;
}

*.parasite NbtkButton#down-stepper:hover,
*.parasite NbtkButton#down-stepper:active
{
  border-image: url("file://button-bg-hover.png") 8 8 8 8;
}

*.parasite NbtkScrollBar NbtkButton#vhandle
{
  border-image: url("file://button-bg.png") 8 8 8 8;
}

*.parasite NbtkScrollBar NbtkButton#vhandle:hover
{
  border-image: url("file://button-bg-hover.png") 8 8 8 8;
}

*.parasite NbtkScrollBar NbtkButton#hhandle
{
  border-image: url("file://button-bg.png") 8 8 8 8;
}

*.parasite NbtkScrollBar NbtkButton#hhandle:hover
{
  border-image: url("file://button-bg-hover.png") 8 8 8 8;
}


*.parasite *.ClutterSmithTitle {
  font-size: 20px;
}

*.ClutterSmithLink {
  border-image: url("file://link-bg.png") 8 8 8 8;
}

*.parasite *.ClutterSmithLocation {
  font-size: 12px;
}
