[Desktop Entry]
Version=1.0
Type=Application
TryExec=cluttersmith
Exec=cluttersmith %U
Icon=cluttersmith.png
Terminal=false
Categories=Development
Name=Cluttersmith
GenericName=Clutter Scene Graph Editor
Comment=Visual Clutter design tool

