/* generic classes, the top bits of styling here should be inherited
 * from a system wide CSS
 */



.parasite MxButton,
.parasite MxButton:active,
.parasite MxButton:hover,
.parasite MxButton:checked {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
}

MxLabel, MxIMLabel
{
  font-family: "Times";
  font-size: 12px;
  color: black;
}

.ParasiteToolbar MxButton,
.ParasiteToolbar MxButton:active,
.ParasiteToolbar MxButton:hover,
.ParasiteToolbar MxButton:checked 
{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

MxBoxLayout.ParasiteTreeA1 {
  background-color: #000;
}

MxBoxLayout.ParasiteTreeB1 {
  background-color: #666;
}

MxBoxLayout.ParasiteTreeA2 {
  background-color: #222;
}

MxBoxLayout.ParasiteTreeB2 {
  background-color: #444;
}

.parasite MxButton {
  border-image: url("button-bg.png") 8;
  color: white;
}


.parasite MxEntry {
  border-image: url("entry-bg.png") 8;
  color: yellow;
  font-size: 9px;
}

.parasite MxButton {
  border-image: url("button-bg.png") 8;
  color: white;
}

.parasite MxButton:active {
  border-image: url("button-bg.png") 8;
  color: white;
}

.parasite-paste  {
  background-color: #444444ee;
  padding: 1px;
}

.parasite  {
  background-color: #444444ee;
  padding: 1px;
}

.parasite MxButton:hover {
  border-image: url("button-bg-hover.png") 8;
  color: yellow;
}


.parasite MxButton:checked {
  border-image: url("button-bg.png") 8;
  color: white;
}



.parasite MxScrollBar
{
  background-color: #00000000;
  padding: 2px;
}


.parasite MxButton#backward-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#backward-stepper:hover,
.parasite MxButton#backward-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxButton#forward-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#forward-stepper:hover,
.parasite MxButton#forward-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxButton#up-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#up-stepper:hover,
.parasite MxButton#up-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxButton#down-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#down-stepper:hover,
.parasite MxButton#down-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxScrollBar MxButton#vhandle
{
  border-image: url("button-bg.png") 8;
}

.parasite MxScrollBar MxButton#vhandle:hover
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxScrollBar MxButton#hhandle
{
  border-image: url("button-bg.png") 8;
}

.parasite MxScrollBar MxButton#hhandle:hover
{
  border-image: url("button-bg-hover.png") 8;
}


.parasite .ClutterSmithTitle {
  font-size: 20px;
}

.ClutterSmithLink {
  border-image: url("link-bg.png") 8;
}

.parasite .ClutterSmithLocation {
  font-size: 12px;
}

/* these CSS rules are currently bust.
 
.parasite-root   MxPopup {
  padding: 5;
  border-image: url("button-bg-hover.png") 8;
}

.parasite-root   MxPopup > MxButton {
  padding: 3;
  border-image: none;
}

.parasite-root   MxPopup > MxButton:hover,
.parasite-root   MxPopup > MxButton:active {
  color: white;
  border-image: url('menu-item.png') 2;
}
*/
