/* generic classes, the top bits of styling here should be inherited
 * from a system wide CSS
 */



.parasite MxButton,
.parasite MxButton:active,
.parasite MxButton:hover,
.parasite MxButton:checked {
}

MxLabel, MxIMLabel
{
  font-family: "Sans";
  font-size: 12px;
  color: black;
}

#toolbar{
  padding: 8px 8px 8px 8px;
}

.ParasiteToolbar MxButton,
.ParasiteToolbar MxButton:active,
.ParasiteToolbar MxButton:hover,
.ParasiteToolbar MxButton:checked 
{
  font-size: 13px;
}

MxBoxLayout.ParasiteTreeA1 {
  background-color: #000;
}

MxBoxLayout.ParasiteTreeB1 {
  background-color: #666;
}

MxBoxLayout.ParasiteTreeA2 {
  background-color: #222;
}

MxBoxLayout.ParasiteTreeB2 {
  background-color: #444;
}

.parasite MxButton {
  border-image: url("button-bg.png") 8;
  color: white;
}

.parasite MxEntry {
  border-image: url("entry-bg.png") 8;
  color: yellow;
  font-size: 10px;
  padding: 2;
}

.parasite MxEntry:focus {
  border-image: url("entry-bg.png") 8;
  color: yellow;
  font-size: 10px;
}

.parasite MxButton {
  border-image: url("button-bg.png") 8;
  color: white;
  font-size: 10px;
  padding: 2;
}

.parasite MxButton:active {
  border-image: url("button-bg.png") 8;
  color: white;
  padding: 2;
}

.parasite-paste  {
  background-color: #444444ee;
  padding: 1px;
}

.parasite  {
  background-color: #444444ee;
  padding: 1px;
}

.parasite MxButton:hover {
  border-image: url("button-bg-hover.png") 8;
  color: yellow;
}


.parasite MxButton:checked {
  border-image: url("button-bg.png") 8;
  color: white;
}



.parasite MxScrollBar,
.sidebarscroll MxScrollBar
{
  background-color: #00000000;
  padding: 2px;
}


.parasite MxButton#backward-stepper,
.sidebarscroll MxButton#backward-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#backward-stepper:hover,
.parasite MxButton#backward-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxButton#forward-stepper,
.sidebarscroll MxButton#forward-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#forward-stepper:hover,
.parasite MxButton#forward-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxButton#up-stepper,
.sidebarscroll MxButton#up-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#up-stepper:hover,
.parasite MxButton#up-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxButton#down-stepper,
.sidebarscroll MxButton#down-stepper
{
  border-image: url("button-bg.png") 8;
}

.parasite MxButton#down-stepper:hover,
.parasite MxButton#down-stepper:active
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxScrollBar MxButton#vhandle,
.sidebarscroll MxButton#vhandle
{
  border-image: url("button-bg.png") 8;
}

.parasite MxScrollBar MxButton#vhandle:hover
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxScrollBar MxButton#hhandle,
.sidebarscroll MxButton#hhandle
{
  border-image: url("button-bg.png") 8;
}

.parasite MxScrollBar MxButton#hhandle:hover
{
  border-image: url("button-bg-hover.png") 8;
}

.parasite MxComboBox {
  border-image: url("button-bg.png") 8;
  color: white;
}

.parasite MxComboBox:hover {
  border-image: url("button-bg-hover.png") 8;
  color: white;
}

MxPopup {
  padding: 3;
  border-image: url("button-bg.png") 8;
}

MxPopup > MxBoxLayout {
  padding: 3;
  border-image: none;
}

MxPopup > MxBoxLayout:hover,
MxPopup > MxBoxLayout:active {
  border-image: url('button-bg-hover.png') 2;
}

MxPopup > MxBoxLayout > MxLabel {
  color: white;
}

MxPopup > MxBoxLayout:hover > MxLabel,
MxPopup > MxBoxLayout:active > MxLabel {
  color: white;
}

#toolbar {
  padding: 2 2 2 2;
}

#cs-play {
  -mx-icon-name: slideshow-play;
  -mx-icon-size: 20;
}

#cs-copy {
  -mx-icon-name: edit-copy;
  -mx-icon-size: 18;
}

#cs-cut {
  -mx-icon-name: edit-cut;
  -mx-icon-size: 18;
}
#cs-paste {
  -mx-icon-name: edit-paste;
  -mx-icon-size: 18;
}
#cs-duplicate {
  -mx-icon-name: unknown;
  -mx-icon-size: 18;
}
#cs-remove {
  -mx-icon-name: edit-clear;
  -mx-icon-size: 18;
}
#cs-raise-top {
  -mx-icon-name: top;
  -mx-icon-size: 18;
}
#cs-raise {
  -mx-icon-name: up;
  -mx-icon-size: 18;
}
#cs-lower {
  -mx-icon-name: down;
  -mx-icon-size: 18;
}
#cs-bottom {
  -mx-icon-name: bottom;
  -mx-icon-size: 18;
}
#cs-reset-size {
  -mx-icon-name: reload;
  -mx-icon-size: 18;
}
#cs-help {
  -mx-icon-name: info;
  -mx-icon-size: 18;
}

.parasite .ClutterSmithTitle {
  font-size: 20px;
}

.parasite MxLabel {
  color: white;
  font-size: 10px;
}

.ClutterSmithLink {
  border-image: url("link-bg.png") 8;
}

.ClutterSmithCallout {
  border-image: url("link-bg.png") 8;
}


.ClutterSmithPropertyPane {
  padding: 0 32 0 10;
}

.parasite .ClutterSmithLocation {
  font-size: 12px;
}

/* these CSS rules are currently bust.
 
.parasite-root   MxPopup {
  padding: 5;
  border-image: url("button-bg-hover.png") 8;
}

.parasite-root   MxPopup > MxButton {
  padding: 3;
  border-image: none;
}

.parasite-root   MxPopup > MxButton:hover,
.parasite-root   MxPopup > MxButton:active {
  color: white;
  border-image: url('menu-item.png') 2;
}
*/


.parasite MxExpander > MxLabel {
  color: red;
}

.parasite MxExpander {
  border-image: url("button-bg.png") 3;
  color: white;
  font-size: 10px;
  padding: 2;
}

.parasite MxExpander:hover {
  border-image: url("button-bg-hover.png") 3;
  color: white;
}

.parasite MxExpander:active {
  border-image: url("button-bg.png") 3;
}

MxExpander > *#mx-expander-arrow-closed {
    padding: 0;
    -mx-content-image: url('expander-arrow-up.png');
}

MxExpander > *#mx-expander-arrow-closed:hover {
    -mx-content-image: url('expander-arrow-up-hover.png');
}

MxExpander > *#mx-expander-arrow-open {
    -mx-content-image: url('expander-arrow-down.png');
}

MxExpander > *#mx-expander-arrow-open:hover {
    -mx-content-image: url('expander-arrow-down-hover.png');
}
